[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fbs = "==0.9.0"
ftputil = "*"
natsort = "*"
pyqt5 = "*"
smbprotocol = "*"
dependency-injector = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
black = "*"
isort = "*"
pre-commit = "*"
pyqt5-stubs = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
